<!DOCTYPE html>
<html>
    <head>
        <title>Space Station Chatbot</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="static/icons/favicon.ico">
    </head>

    <body>
        <h1>Welcome to the Space Station Chatbot!</h1>
        <div>
            <input type="text" id="inputField" placeholder="Gib etwas ein">
            <button onclick="sendMessage()">CLICK ME</button>
        </div>
        <script src="static/javascript/frontend.js" type="application/javascript"></script>
    </body>
</html>